html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: "#484848";
}
